@font-face {
    font-family: "Montserrat-Bold";
    src: url("../../src/fonts/woff2/Montserrat-Bold.woff2") format("woff2");
}

@font-face {
    font-family: "Lato-BoldItalic";
    src: url("../../src/fonts/woff2/Lato-BoldItalic.woff2") format("woff2");
}

@font-face {
    font-family: "MyriadPro-Regular";
    src: url("../../src/fonts/woff2/MyriadPro-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "Montserrat-Regular";
    src: url("../../src/fonts/woff2/Montserrat-Regular.woff2") format("woff2");
}

@font-face {
    font-family: "MR";
    src: url("../../src/fonts/woff2/mr.woff2") format("woff2");
}

@font-face {
    font-family: "Lato-Regular";
    src: url("../../src/fonts/woff2/Lato-Regular.woff2") format("woff2");
}