@import 'fonts';

@import 'configuration';

@import 'reset';

@import 'ibg';

@import 'header';

@import 'mainscreen';

@import 'editor';

@import 'whatYouGet';

@import 'about';

@import 'price';

.flex 
{
    display: flex;
    align-items: center; /* Центрировать элементы в поперечной оси */
}

.container 
{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
    justify-content: space-between;
    display: flex;
}




